.colorpicker {
    text-align: center;
    min-width: 200px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
}